<!-- Always create iframes to embed videos if present. See: http://semantic-ui.com/modules/embed.html -->

<script>
  $('.ui.embed').embed();
</script>
<script src="{{ site.baseurl }}/js/particles.js"></script>
 <script src="{{ site.baseurl }}/js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-71766652-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-71766652-4');
</script>
